.linkContainer {
  position: relative;
  border-radius: 14px;
  width: 300px;
  height: 74px;
  display: flex;
  justify-content: space-between;
  padding: 15px;
  font-family: Poppins;
  font-weight: 300;
  margin-top: 5px;
  text-decoration: none;

  .avatar {
    position: relative;
    width: 44px;
    height: 44px;
    padding: 0;
    margin-right: 15px;
    // border: 1px solid #fff;
    box-sizing: border-box;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    
    img {
      border-radius: 100%;
      object-fit: cover;
      width: 44px;
      height: 44px;
      border: none;
    }

    .status {
      position: absolute;
      width: 10px;
      height: 10px;
      left: 34px;
      border: 1px solid #FFFFFF;
      border-radius: 100%;
    }

    .offline {
      background: grey;
    }

    .online {
      background: #46D362;
    }
  }

  .rightContainer {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    width: 100%;
    color: inherit;

    .nameAndDate {
      display: flex;
      justify-content: space-between;
      color: inherit;

      
      .name {
        color: inherit;
        font-weight: 600;
      }
      
      .date {
        color: inherit;
        font-size: 12px;
      }
    }

    .message {
      display: flex;
      justify-content: space-between;
      margin-top: 2px;
      color: inherit;

      
      .lastMessage  {
      font-size: 12px;
      color: inherit;
      max-width: 190px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;

        span {
          color: inherit;
          font-size: inherit;
          text-overflow: ellipsis;
        }

        :nth-child(1) {
          color: inherit;
          font-weight: bold;
        }
      }

      .missedMessages {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0px 12px 2px ;
        border-radius: 10px;
        background-color: #F3BA4A;
        font-weight: 700;
        color: white;
        font-size: 12px;
      }
      
      .hide {
        display: none;
      }
    }
  }
}

.linkContainer:hover {
   background: rgba(101, 136, 222, 0.1);
}




