.messageContainer {
  display: flex;
  flex-direction: column;

  .userName {
    font-family: Poppins;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    letter-spacing: 0em;
    // text-align: right;
    color: rgba(82, 88, 93, 1);
    margin-bottom: 5px;
  }

  .userMassage {
    position: relative;
    width: 100%;
    display: flex;
    // flex-direction: row-reverse;
    // justify-content: end;

    .avatar {
      position: relative;
      min-width: 44px;
      height: 44px;
      margin-right: 15px;

      img {
        object-fit: cover;
        width: 100%;
        height: 100%;
        border-radius: 100%;
        border: 2px solid #F3BA4A;;
      }
    }
    
    .message{
      min-width: 200px;
      padding: 16px 20px 14px;
      .text{
        
      }
    }
    
    .otherUser {
      background: rgba(227, 246, 252, 1);
      border-radius: 0px 14px 14px 14px;
    }

    .user {
      border-radius: 14px 0px 14px 14px;
      background: #F3BA4A;
    }

    .time {
      float: right;
      margin-top: 2px;
      font-size: 12px;
      text-align: right;
      color: rgba(101, 136, 222, 1);
    }
  }
}