.loginContainer {
  width: 400px;
  background: white;
  border-radius: 10px;
  box-shadow: 10px 10px 15px rgba(0,0,0,0.05);
  padding: 20px 0px;

  h1{
    width: 100%;
    text-align: center;
    font-size: 1.5rem;
    padding-bottom: 15px;
    border-bottom: 1px solid silver;
  }

  form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    .error-message {
      font-size: 0.9rem;
      color: red;
    }

    .note-login {
      margin-top: 10px;

      .link_reg {
        color: #2691d9;
        text-decoration: none;

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }



}