.profileModalBackground {
  position: fixed;
  width: 100vw;
  height: 100vh;
  left: 0;
  backdrop-filter: blur(1px);
  background-color: rgba(0, 0, 0, 0.144);
  z-index: 100;
  justify-content: center;
  align-items: center;

  .profileModal {
    position: absolute;
    left: 350px;
    top: 0px;
    background-color: #E3F6FC;
    font-size: 1.1rem;
    padding: 20px 20px;
    height: max-content;
    border-radius: 0 0 10px 10px;
    width: 320px;
    display: flex;
    flex-direction: column;
    align-items: center;
  
      &::after{
      content: '';
      position: absolute;
      top: 15px;
      right: 320px;
      width: 0; 
      height: 0; 
      border-top: 15px solid transparent;
      border-bottom: 15px solid transparent;
      border-right: 15px solid #E3F6FC;
    }
  
    .closeModalButton {
      position: absolute;
      right: 20px;
      top: 10px;
      z-index: 1;
      height: 30px;
      width: 30px;
      border: none;
      border-radius: 8px;
      // padding: 15px;
      // margin: 0px 10px;
      background: none;

      &:hover{
        background-color: rgba(73, 73, 73, 0.10);
        cursor: pointer;
      }

      &::after{
        position: absolute;
        bottom:  -4px;
        left: -1px;
        content: url(./../../img/CloseButton_icon.svg);
        padding-top: 1px;
        transform: scale(0.6);
      }
    }    
  
    .profileContainer {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
  
      .emailContainer {
        margin-top: 20px;
        font-size: 1.3rem;
        font-weight: bold;
        max-width: 250px;
        word-wrap: break-word;
      }

      .logout {
        color: white;
        background-repeat: no-repeat;
        background-position: center;
        border: none;
        border-radius: 8px;
        padding: 5px 15px;
        background: rgba(101, 135, 222, 0.65);
        margin-top: 10px;
        margin-bottom: 20px;
  
        &:hover{
          background: rgba(101, 135, 222, 1);
          cursor: pointer;
        }
      }

      .avatarContainer {
  
        .avatar {
          margin: 15px;
          width: 100px;
          height: 100px;
          border-radius: 100%;
        }
      }
  
      .uploadPhoto {
        color: white;
        background-repeat: no-repeat;
        background-position: center;
        border: none;
        border-radius: 8px;
        padding: 5px 15px;
        background: rgba(101, 135, 222, 0.65);
  
        &:hover{
          background: rgba(101, 135, 222, 1);
          cursor: pointer;
        }
        input {
          display: none;
        }
      }

      .errorMessage {
        color:red;
      }
      
      .nameContainer {
        margin-top: 25px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        
        .inputContainer {
          height: 30px;
          background: #FDFDFD;
          border: 1px solid rgba(150, 169, 186, 0.7);
          box-sizing: border-box;
          border-radius: 14px;
          display: flex;
          align-items: center;
          justify-content: center;
          
          .inputName {
            font-size: 14px;
            height: 25px;
            width: 90%;
            padding: 10px;
            border: none;
            outline: none;
            user-select: none;
          }
        }
      }
  
      .save {
        color: white;
        background-repeat: no-repeat;
        background-position: center;
        border: none;
        border-radius: 8px;
        padding: 5px 15px;
        background: rgba(74, 224, 86, 0.65);
        margin: 30px 0px 10px 0px;
  
        &:hover{
          background: rgba(74, 224, 86, 1);
          cursor: pointer;
        }
      }
    }
  }
}


.hide {
  display: none;
}
